In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
from datetime import datetime
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vaccity_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vaccity_data_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,0,Lebu,CL,49.96,-37.62,-73.65,clear sky,Hostal Las Lilas
1,1,Mahebourg,MU,82.99,-20.41,57.70,few clouds,Shandrani Beachcomber Resort & Spa
2,2,East London,ZA,71.60,-33.02,27.91,overcast clouds,Tu Casa
3,5,Pingliang,CN,46.36,35.54,106.69,clear sky,Xinxiang Hostel
4,6,Atuona,PF,81.72,-9.80,-139.03,overcast clouds,Villa Enata

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Creating the dataframe based on one country
preferred_df=pd.DataFrame(vaccity_data_df.loc[vaccity_data_df.loc[:,"Country"] == "US", :])
preferred_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
6,11,Half Moon Bay,US,61.00,37.46,-122.43,broken clouds,"The Ritz-Carlton, Half Moon Bay"
10,16,Hilo,US,69.80,19.73,-155.09,light rain,Hilo Hawaiian Hotel
16,28,Fortuna,US,48.99,40.60,-124.16,overcast clouds,Super 8 By Wyndham Fortuna
20,32,Kapaa,US,73.40,22.08,-159.32,overcast clouds,Sheraton Kauai Resort at Coconut Beach
22,37,Brownwood,US,42.80,31.71,-98.99,clear sky,La Quinta Inn & Suites by Wyndham Brownwood

In [5]:
# Get the four city data for four cities
preferred_city_df = preferred_df.tail(4)
preferred_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
215,403,Brandon,US,46.99,27.94,-82.29,clear sky,Embassy Suites by Hilton Tampa Brandon
220,410,Portland,US,45.00,45.52,-122.68,clear sky,Portland Marriott City Center
249,462,Houma,US,46.40,29.60,-90.72,clear sky,Courtyard by Marriott Houma
294,551,Dallas,US,44.60,32.77,-96.78,broken clouds,Hotel Indigo Dallas Downtown

In [6]:
# Get the four city data for four cities in a new dataframe
preferred_city_df = preferred_city_df.reset_index()
preferred_city_df

,index,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,215,403,Brandon,US,46.99,27.94,-82.29,clear sky,Embassy Suites by Hilton Tampa Brandon
1,220,410,Portland,US,45.00,45.52,-122.68,clear sky,Portland Marriott City Center
2,249,462,Houma,US,46.40,29.60,-90.72,clear sky,Courtyard by Marriott Houma
3,294,551,Dallas,US,44.60,32.77,-96.78,broken clouds,Hotel Indigo Dallas Downtown

In [8]:
# pandas drop a column with drop function
preferred_city_df = preferred_city_df.drop(['index'], axis=1)
preferred_city_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,403,Brandon,US,46.99,27.94,-82.29,clear sky,Embassy Suites by Hilton Tampa Brandon
1,410,Portland,US,45.00,45.52,-122.68,clear sky,Portland Marriott City Center
2,462,Houma,US,46.40,29.60,-90.72,clear sky,Courtyard by Marriott Houma
3,551,Dallas,US,44.60,32.77,-96.78,broken clouds,Hotel Indigo Dallas Downtown

In [9]:
# Create a tuple of the longitude and latidue
locations = preferred_city_df[["Lat", "Lng"]]
locations

     Lat     Lng
0  27.94  -82.29
1  45.52 -122.68
2  29.60  -90.72
3  32.77  -96.78

In [10]:
#Create a dataframe for first city
#preferred_cityone_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Astoria",:]
preferred_cityone_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Brandon",:]
preferred_cityone_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
215,403,Brandon,US,46.99,27.94,-82.29,clear sky,Embassy Suites by Hilton Tampa Brandon

In [11]:
#Get the coordinates for the first city and set it as the origin value for the map.
origin_location = preferred_cityone_df["Lat"].values[0],preferred_cityone_df["Lng"].values[0]
origin_location

(27.94, -82.29)

In [12]:
#Create a dataframe for second city
#preferred_citytwo_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Black Diamond",:]
preferred_citytwo_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Portland",:]
preferred_citytwo_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
220,410,Portland,US,45.0,45.52,-122.68,clear sky,Portland Marriott City Center

In [13]:
#Get the coordinates for the second city and set it as the via point1 value for the map.
via_point_one = preferred_citytwo_df["Lat"].values[0],preferred_citytwo_df["Lng"].values[0]
via_point_one

(45.52, -122.68)

In [14]:
#Create a dataframe for third city
#preferred_citythree_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Laguna",:]
preferred_citythree_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Houma",:]
preferred_citythree_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
249,462,Houma,US,46.4,29.6,-90.72,clear sky,Courtyard by Marriott Houma

In [15]:
#Get the coordinates for the second city and set it as the via point1 value for the map.
via_point_two = preferred_citythree_df["Lat"].values[0],preferred_citythree_df["Lng"].values[0]
via_point_two

(29.6, -90.72)

In [16]:
#Create a dataframe for fourth city
#preferred_cityfour_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Pacific Grove",:]
preferred_cityfour_df = preferred_df.loc[preferred_df.loc[:,"City"] == "Dallas",:]
preferred_cityfour_df.head(10)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
294,551,Dallas,US,44.6,32.77,-96.78,broken clouds,Hotel Indigo Dallas Downtown

In [17]:
#Get the coordinates for the fourth city and set it as the destination value for the map.
destination_location = preferred_cityfour_df["Lat"].values[0],preferred_cityfour_df["Lng"].values[0]
destination_location

(32.77, -96.78)

In [18]:
#Set the waypoints for the two via point
way_points = [via_point_one, via_point_two]
way_points

[(45.52, -122.68), (29.6, -90.72)]

In [19]:
#Create the travel map for the four cities.
import gmaps

#now = datetime.now()
#configure api
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
#Create the map
fig = gmaps.figure()
#Create the layer
layer = gmaps.directions_layer(origin_location, destination_location, travel_mode='DRIVING', waypoints = way_points)
#Add the layer
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in preferred_city_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = preferred_city_df[["Lat", "Lng"]]
max_temp = preferred_city_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
heat_layer = gmaps.symbol_layer(locations, fill_color='red', stroke_color='red')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))