In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2020-02-18 05:55:29,41.37,-73.41,37.00,63,1,3.85
1,1,Ushuaia,AR,2020-02-18 05:55:29,-54.80,-68.30,48.20,70,75,8.05
2,2,Bambous Virieux,MU,2020-02-18 05:55:30,-20.34,57.76,82.99,74,40,9.17
3,3,Kaitangata,NZ,2020-02-18 05:55:30,-46.28,169.85,62.01,92,48,1.99
4,4,Arraial Do Cabo,BR,2020-02-18 05:55:30,-22.97,-42.03,77.90,87,82,25.37

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Bambous Virieux,MU,2020-02-18 05:55:30,-20.34,57.76,82.99,74,40,9.17
4,4,Arraial Do Cabo,BR,2020-02-18 05:55:30,-22.97,-42.03,77.90,87,82,25.37
10,10,Sao Francisco De Assis,BR,2020-02-18 05:55:32,-29.55,-55.13,77.63,78,45,10.04
12,12,Busselton,AU,2020-02-18 05:55:32,-33.65,115.33,88.00,18,100,2.24
16,16,Isangel,VU,2020-02-18 05:55:33,-19.55,169.27,86.00,70,20,11.41
17,17,Vikramasingapuram,IN,2020-02-18 05:55:33,8.71,77.39,86.00,70,20,6.93
25,25,Saint-Philippe,RE,2020-02-18 05:55:35,-21.36,55.77,81.00,78,90,23.04
28,28,Vaini,TO,2020-02-18 05:55:36,-21.20,-175.20,80.60,69,20,12.75
34,34,Carnarvon,AU,2020-02-18 05:53:53,-24.87,113.63,84.20,70,78,13.87
40,40,Nouakchott,MR,2020-02-18 05:55:39,18.09,-15.98,75.20,15,16,8.05

In [12]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp    Lat     Lng Hotel Name
2          Bambous Virieux      MU     82.99 -20.34   57.76
4          Arraial Do Cabo      BR     77.90 -22.97  -42.03
10  Sao Francisco De Assis      BR     77.63 -29.55  -55.13
12               Busselton      AU     88.00 -33.65  115.33
16                 Isangel      VU     86.00 -19.55  169.27
17       Vikramasingapuram      IN     86.00   8.71   77.39
25          Saint-Philippe      RE     81.00 -21.36   55.77
28                   Vaini      TO     80.60 -21.20 -175.20
34               Carnarvon      AU     84.20 -24.87  113.63
40              Nouakchott      MR     75.20  18.09  -15.98

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bambous Virieux,MU,82.99,-20.34,57.76,Casa Tia Villa
4,Arraial Do Cabo,BR,77.90,-22.97,-42.03,Pousada Porto Praia
10,Sao Francisco De Assis,BR,77.63,-29.55,-55.13,Hotel Aguiar
12,Busselton,AU,88.00,-33.65,115.33,Observatory Guest House
16,Isangel,VU,86.00,-19.55,169.27,Volcano Sea View Tree House
17,Vikramasingapuram,IN,86.00,8.71,77.39,Papanasam Lodge (Raja Lodge & Tourist Home)
25,Saint-Philippe,RE,81.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
28,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
34,Carnarvon,AU,84.20,-24.87,113.63,Hospitality Carnarvon
40,Nouakchott,MR,75.20,18.09,-15.98,Hôtel Iman

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))